      body {
        font-family: 'Ubuntu', sans-serif;
        font-size: 24px;
      }
    .pin-wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  height:50vh;
}
input{
    width: 22px;
    height: 22px;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    outline: none;
    margin: 1px;
    text-align:center;
    margin:0 5px;
    background:#eeeeee;
    font-size:20px;
}
.pin{
  color:#ffffff;
  font-size:20px;
  text-align:center;
}
.valign{
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.valignint{
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

button{
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #009CB4;
  border: none;
  outline: none;
  color: #FFF;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  transition: .2s;
  display: inline-block;
  letter-spacing: 1px;
  height: 40px;
  line-height: 40px;
}
button::after{
  font-family: Font Awesome\ 5 Free;
  display: inline-block;
  content: "\f110";
  font-weight: 900;
  font-size: 18px;
  position: absolute;
  margin: -0.5px auto 0 auto;
  right: 15px;
  top: 0;
  bottom: 0;
  color: transparent;
  transition: .2s;
  transform-origin: center;
  height: 40px;
  line-height: 40px;
}
button:hover{
  background-color: #00869B;
}

.submitting{
  padding-right: 50px;
  background-color: #00869B!important;
}
.submitting::after{
  color: #FFF;
  animation: rotate 1s infinite linear;
}

@keyframes rotate{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}